.cardsColor{
    color:black !important
}
.googleIcon{
    font-size: 32px;
    color: darkblue;
    margin-top: 20px;
    }
.cardBg{
    background-color: darkkhaki;
}
.contentBg{
    background-color: cornsilk;
}